<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <%- include('_bootstrap') %>
    <div style="display: flex;justify-content: center;align-items: center;">
      <h1>Welcome to Ur Fine</h1>
    </div>

    <div style="display: flex;justify-content: center;align-items: center;">
      <form action="" method="post">
        <label>Email</label><br />
        <input type="text" name="email" /><br />
        <% if (error) { %>
          <% const errorSplit = error.split(",") %>
          <p style="color:red">
             <%= errorSplit.find((el) => el.includes("email")) %>
          </p>
         <% } %>
  
        <label>Password</label><br />
        <input type="password" name="password" /><br><br>
  
        <input type="submit" value="Login" />
  
        <p>Don't have an account? <a href="/signUp"><b>Sign Up</b>.</a></p>
      </form>
    </div>
  </body>
</html>
