<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Selamat Datang, Silahkan Login.</h1>

    

    <form action="" method="post">
      <label>Email</label><br />
      <input type="text" name="email" /><br />
      <% if (error) { %>
        <% const errorSplit = error.split(",") %>
        <p style="color:red">
           <%= errorSplit.find((el) => el.includes("email")) %>
        </p>
       <% } %>

      <label>Password</label><br />
      <input type="password" name="password" /><br />

      <input type="submit" value="Submit" />

      <p>Belum punya akun? Silahkan <a href="/signUp">Buat Akun.</a></p>
    </form>
  </body>
</html>
