<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller View</title>
</head>
<body>
    <div class="container">
        <h1>Ur Fine Seller</h1>
        <a href="" type="button" class="btn btn-primary">Add Product</a>

        <div class="row">
            <%  %>
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="<%=  %>" class="card-img-top" alt="Picture">
                <div class="card-body">
                    <h5 class="card-title">

                    </h5>

                </div>

                </div>

            </div>
        </div>
    </div>
    <%- include('_bootstrap') %>
</body>
</html>